* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-size: cover;
  }
  
  .logo {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .login-field,
  .register-field {
    width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: white;
    margin-top: -100px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .login-field h3 {
    margin-top: 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  
  .login-field h4,
  .register-field h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .form-control:last-child {
    margin-bottom: 0;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    height: 30px;
    padding: 5px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  a {
    color: #0066cc;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Basic styling for the sidebar and content */
.sidebar {
    width: 200px;
    background-color: #f1f1f1;
    height: 100vh;
    position: fixed;
}

.content {
    margin-left: 200px; /* Set the same width as the sidebar */
    padding: 20px;
}

/* Styling for the sidebar menu */
.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
}

.sidebar li a {
    text-decoration: none;
    color: #000;
}

.sidebar li a:hover {
    color: #ff0000;
}

.topbar {
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.username {
  margin-right: 20px;
}
